# Shared Cloud Database
DATABASE_URL=postgresql://user:password@ep-sample-neon-tech.neon.tech/neondb?sslmode=require

# Shared AI Keys
OPENAI_API_KEY="your_shared_openai_key"

JWT_SECRET_KEY=your_secret_key_here

# Local Server Port
PORT=8000